*{
 margin: 0 autor;
 width: 100%;
 box-sizing: border-box;
 font-family: sans-serif;
}
body{
 background-color: #18181B;
 width: 100%
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.logo{
  max-width: 600px;
  margin-bottom: 24px;
}
.container-input{
  max-width: 480px;
  margin: 14px 0;
}
.container-input spam {
  color: FFF;
  font-size: 22px;
}

.slider {
  margin-top: 8px;
  -webkit-appearance: nome;
  width: 100%
  height: 18px
  border-radius: 5px;
  background: #DFDFDF;
  outline:none;
  opacity:0.7;
}
.button-cta{
 height: 40px;
 margin:top: 40px;
 background-color:#3EB72B;
 border:0;
 border-radius: 4px;
 color: #FFF;
 font-size: 20px;
 font-weight: pointer;
.container-password{
 max-width: 480px;
 margin: 14px 0;
 display: flex;
 flex-direction: columm;
 align-items: center
  
